body {
    background: linear-gradient(rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7)), url('your-background.JPG') no-repeat center/cover;
    color: rgb(5, 125, 125);
}

.container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
}

.video-container {
    position: relative;
    width: 100%;
}

#qr-video {
    width: 100%;
}

.toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(71, 176, 64);
    padding: 10px;
    color: rgb(237, 244, 244);
}
